@import "../main";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #140c36;
}
$purple: #7158e2;

.modal {
  margin-top: 20px;
  padding: 25px 35px;
  background: rgb(216, 239, 231);
  width: 600px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  .modal__wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    h1{
        padding-bottom: 15px;
        font-family: 'Optima';
        font-size: 25px;
        font-weight: bold;
        border-bottom: 1px solid rgba(190, 190, 190, 0.799);

    }
    .form__group {
      @extend %df_col;
      gap: 10px;
      label {
        @extend %modal_label;
      }
      .search__wrapper {
        @extend %df;
        gap: 25px;
        .search__bar_wrapper {
          flex-grow: 1;
          position: relative;
          .search-bar {
            background: #ffffff;
            padding: 7px;
            @extend %df;
            border-radius: 5px;
            width: 100%px;
            &.active {
              border-bottom: 2px solid $purple;
            }
            input {
              font-family: "Optima";
              font-size: 18px;
              border: none;
              outline: none;
              padding: 5px;
            }
            i {
              color: $purple;
              font-size: 25px;
            }
          }
          .customer_list {
            padding: 10px;
            background: white;
            border-radius: 0 0 7px 7px;
            display: none;
            max-height: 200px;
            overflow-y: auto;
            position: absolute;
            width: 100%;
            box-shadow: 0px 1px 21px -12px rgba(34, 60, 80, 0.6);
            li {
              list-style: none;
              background: white;
              padding: 10px;
              border-radius: 5px;
              color: #2f3542;
              cursor: pointer;
              transition: all 0.2s ease;
              &:hover {
                background: #dfe4ea;
              }
            }
          }
        }
        .btn {
          padding: 11px 25px;
          border-radius: 7px;
          border: none;
          background: transparent;
          outline: none;
          font-family: "Optima";
          font-size: 18px;
          background: rgb(10, 86, 249);
          transition: 0.3s ease-out;
          box-shadow: 0px 1px 21px -12px rgba(34, 60, 80, 0.6);
          color: #fff;
          cursor: pointer;
          &:hover {
            background: rgb(6, 63, 187);
          }
        }
      }
    }
    .order__textarea {
      padding: 10px;
      font-family: "Optima";
      font-size: 18px;
      outline: none;
      border: none;
      width: 100%;
      resize: vertical;
      max-height: 150px;
      border-radius: 7px;
    }
    input[type="date"] {
      font-family: "Optima";
      padding: 12px;
      outline: none;
      border: none;
      border-radius: 7px;
      width: 50%;
    }
    .price {
      font-family: "Optima";
      padding: 12px;
      outline: none;
      border: none;
      border-radius: 7px;
      width: 50%;
    }
    .priority {
      .cbx {
        display: flex;
        align-items: center;
        gap: 25px;
        @extend %modal_label;
        -webkit-perspective: 20;
        perspective: 20;
        border-radius: 4px;
        transform: translate3d(0, 0, 0);
        cursor: pointer;
        transition: all 0.3s ease;
      }

      .flip {
        display: block;
        transition: all 0.4s ease;
        transform-style: preserve-3d;
        position: relative;
        width: 20px;
        height: 20px;
      }

      #cbx {
        display: none;
      }

      #cbx:checked + .cbx {
        border-color: #0b76ef;
      }

      #cbx:checked + .flip {
        transform: rotateY(180deg);
      }

      .front,
      .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 2px;
      }

      .front {
        background: #fff;
        z-index: 1;
      }

      .back {
        transform: rotateY(180deg);
        background: #0b76ef;
        text-align: center;
        color: #fff;
        line-height: 20px;
        box-shadow: 0 0 0 1px #0b76ef;
      }

      .back svg {
        margin-top: 3px;
        fill: none;
      }

      .back svg path {
        stroke: #fff;
        stroke-width: 2.5;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }
    .check__wrapper {
        width: 100%;
        text-align: end;
      .confirm {
        padding: 11px 25px;
        border-radius: 7px;
        border: none;
        background: transparent;
        outline: none;
        font-family: "Optima";
        font-size: 18px;
        background: rgb(10, 86, 249);
        transition: 0.3s ease-out;
        box-shadow: 0px 1px 21px -12px rgba(34, 60, 80, 0.6);
        color: #fff;
        cursor: pointer;
        &:hover {
          background: rgb(6, 63, 187);
        }
      }
    }
  }
}
.second{
    transform: translateX(500px);
}