@font-face {
    font-family: 'Optima';
    src: url('../../assets/fonts/OptimaNovaLTProBlack.otf');
}
@font-face {
    font-family: 'Optima';
    src: url('../../assets/fonts/OptimaNovaLTProBlackItalic.otf');
}
@font-face {
    font-family: 'Optima';
    src: url('../../assets/fonts/OptimaNovaLTProBold.otf');
}
@font-face {
    font-family: 'Optima';
    src: url('../../assets/fonts/OptimaNovaLTProBoldCond.otf');
}
@font-face {
    font-family: 'Optima';
    src: url('../../assets/fonts/OptimaNovaLTProBoldItalic.otf');
}
@font-face {
    font-family: 'Optima';
    src: url('../../assets/fonts/OptimaNovaLTProCondensed.otf');
}
@font-face {
    font-family: 'Optima';
    src: url('../../assets/fonts/OptimaNovaLTProDemi.otf');
}
@font-face {
    font-family: 'Optima';
    src: url('../../assets/fonts/OptimaNovaLTProDemiCond.otf.otf');
}
@font-face {
    font-family: 'Optima';
    src: url('../../assets/fonts/OptimaNovaLTProDemiItalic.otf');
}
@font-face {
    font-family: 'Optima';
    src: url('../../assets/fonts/OptimaNovaLTProHeavy.otf');
}
@font-face {
    font-family: 'Optima';
    src: url('../../assets/fonts/OptimaNovaLTProHeavyItalic.otf');
}
@font-face {
    font-family: 'Optima';
    src: url('../../assets/fonts/OptimaNovaLTProLight.otf');
}
@font-face {
    font-family: 'Optima';
    src: url('../../assets/fonts/OptimaNovaLTProLightCond.otf');
}
@font-face {
    font-family: 'Optima';
    src: url('../../assets/fonts/OptimaNovaLTProLightItalic.otf');
}
@font-face {
    font-family: 'Optima';
    src: url('../../assets/fonts/OptimaNovaLTProMedium.otf');
}
@font-face {
    font-family: 'Optima';
    src: url('../../assets/fonts/OptimaNovaLTProMediumCond.otf');
}
@font-face {
    font-family: 'Optima';
    src: url('../../assets/fonts/OptimaNovaLTProRegular.otf');
}
@font-face {
    font-family: 'Optima';
    src: url('../../assets/fonts/OptimaNovaLTProRegular.otf');
}