@import "../main";

.table-container {
  #table {
    width: 100%;
    thead {
      background-color: #172f6c;
      .th-tr {
        th {
          font-size: 20px;
          text-align: left;
          padding: 30px 0;
          color: white;
        }
        .first-th {
          padding-left: 25px;
          width: 60px;
        }
        .name-th {
          width: 300px;
        }
        .order-th {
          width: 250px;
        }
        .didline-th {
          width: 200px;
        }
        .getOrder-th {
          width: 250px;
        }
        .price-th {
          width: 150px;
        }
        .last-th {
          text-align: right;
          padding-right: 25px;
          width: 125px;
        }
      }
    }
    tbody {
      border: 1px solid #bfbdbd;
      .tb-tr {
        td {
          font-size: 20px;
          text-align: left;
          padding: 30px 0;
          vertical-align: middle;
          font-weight: 700;
          border-bottom: 1px solid #bfbdbd;
          background: #fff;
        }
        .first-td {
          padding-left: 25px;
          width: 60px;
        }
        #phoneNumber {
          font-size: 13px;
          opacity: 0.7;
          color: #172f6c;
        }
        .didline-td {
          position: relative;
          color: red;
          .tooltiptext {
            opacity: 0;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            left: 0;
            top: -2px;
            // margin-left: -60px;
            transition: 0.2s ease-in-out;
            // transition-delay: ;
            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: black transparent transparent transparent;
            }
          }
          &:hover .tooltiptext {
            opacity: 1;
            transition-delay: 0.5s;
          }
        }
        .getOrder-td {
          opacity: 0.6;
        }
        .last-td {
          text-align: right;
          padding: 0;
          img {
            cursor: pointer;
            margin-right: 10px;
            border-radius: 5px;
            transition: 0.4s;
            width: 40px;
            &:hover {
              background-color: rgba(0, 0, 0, 0.129);
            }
          }
        }
      }
    }
  }
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 35, 33, 0.8);
  
}

.modal-active {
  opacity: 1;
  visibility: visible;
}
