@import "../main";

.table-container {
  #table {
    width: 100%;
    thead {
      background-color: #172f6c;
      .th-tr {
        th {
          font-size: 20px;
          text-align: left;
          padding: 30px 0;
          color: white;
        }
        .first-th {
          padding-left: 25px;
          width: 60px;
        }
        .name-th {
          width: 300px;
        }
        .order-th {
          width: 250px;
        }
        .didline-th {
          width: 200px;
        }
        .getOrder-th {
          width: 250px;
        }
        .price-th {
          width: 150px;
        }
        .last-th {
          text-align: right;
          padding-right: 25px;
          width: 125px;
        }
      }
    }
    tbody {
      border: 1px solid #bfbdbd;
      .tb-tr {
        td {
          font-size: 20px;
          text-align: left;
          padding: 30px 0;
          vertical-align: middle;
          font-weight: 700;
          border-bottom: 1px solid #bfbdbd;
          background: #fff;
        }
        .first-td {
          padding-left: 25px;
          width: 60px;
        }
        #phoneNumber {
          font-size: 13px;
          opacity: 0.7;
          color: #172f6c;
        }
        .didline-td {
          position: relative;
          color: red;
          .tooltiptext {
            opacity: 0;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            left: 0;
            top: -2px;
            // margin-left: -60px;
            transition: 0.2s ease-in-out;
            // transition-delay: ;
            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: black transparent transparent transparent;
            }
          }
          &:hover .tooltiptext {
            opacity: 1;
            transition-delay: 0.5s;
          }
        }
        .getOrder-td {
          opacity: 0.6;
        }
        .last-td {
          text-align: right;
          padding: 0;
          img {
            cursor: pointer;
            margin-right: 10px;
            border-radius: 5px;
            transition: 0.4s;
            width: 40px;
            &:hover {
              background-color: rgba(0, 0, 0, 0.129);
            }
          }
        }
      }
    }
  }
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 35, 33, 0.8);

  // .modal {
  //   max-width: 420px;
  //   position: relative;
  //   background-color: #fff;
  //   padding: 72px 80px 40px 72px;
  //   .close {
  //     padding: 8px 15px;
  //     position: absolute;
  //     font-size: 30px;
  //     top: 0;
  //     right: 0;
  //     cursor: pointer;
  //     background: #f3f2f1;
  //     border-radius: 4px;
  //     &:hover {
  //       color: red;
  //     }
  //   }
  //   h2 {
  //     text-align: center;
  //     margin-bottom: 32px;
  //     @include media(768px) {
  //       margin-top: 50px;
  //     }
  //   }
  //   p {
  //     font-weight: 400;
  //     font-size: 18px;
  //     line-height: 150%;
  //     color: #8f8f8f;
  //   }
  //   .iti--allow-dropdown input,
  //   .iti--allow-dropdown input[type="text"],
  //   .iti--allow-dropdown input[type="tel"],
  //   .iti--separate-dial-code input,
  //   .iti--separate-dial-code input[type="text"],
  //   .iti--separate-dial-code input[type="tel"] {
  //     @include media(768px) {
  //       padding-left: 100px !important;
  //     }
  //   }
  //   input {
  //     width: 100%;
  //     padding: 12px 16px;
  //     border-radius: 4px;
  //     border: 1px solid #ccc;
  //     outline: none;
  //     outline: 1px solid green;
  //     transition: 0.3s;
  //     &:focus {
  //       outline: 1px solid rgb(25, 246, 25);
  //       box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
  //     }
  //   }
  //   input::placeholder {
  //     color: #000000;
  //   }
  //   .enter {
  //     margin-top: 32px;
  //     padding: 14px;
  //     width: 100%;
  //     border: none;
  //     cursor: pointer;
  //     background: #fcd5ba;
  //     border-radius: 4px;
  //     font-weight: 400;
  //     font-size: 24px;
  //     line-height: 150%;
  //     color: #ff6633;
  //     transition: 0.3s ease-out;
  //     &:hover {
  //       background: #ff6633;
  //       color: #fcd5ba;
  //     }
  //   }
  //   .login {
  //     margin-top: 32px;
  //     display: flex;
  //     justify-content: space-between;
  //     @include media(550px) {
  //       flex-direction: column;
  //       justify-content: center;
  //       align-items: center;
  //       gap: 15px;
  //     }
  //     a {
  //       padding: 10px;
  //       font-weight: 400;
  //       font-size: 12px;
  //       line-height: 150%;
  //       transition: 0.3s ease-out;
  //     }
  //     .login_reg {
  //       color: #70c05b;
  //       border: 1px solid #70c05b;
  //       border-radius: 4px;
  //       transition: 0.4s;
  //       &:hover {
  //         color: white;
  //         background-color: #70c05b;
  //       }
  //     }
  //     .forgot:hover {
  //       color: red;
  //     }
  //   }
  //   @include media(768px) {
  //     width: 350px;
  //     box-sizing: border-box;
  //     padding: 10px 25px;
  //   }
  // }
}

.modal-active {
  opacity: 1;
  visibility: visible;
}
